<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<body>
  <% include ./partials/_header %>
  <pre>
    <% for (var header in urls) { %>
      <% let action = "/urls/" + header + "/delete" %>
      <p>
        <%= header + "  ----->  "%><a href="/u/<%= header %>"><%= urls[header] %></a>
        <form method="post" action="/urls/<%= header %>/delete">
          <button>Delete</button>
        </form>
        <a href="/urls/<%= header %>"><button>Edit</button></a>
      </p>
    <% } %>
    <h2><a href="/urls/new">Create A New Link!</a></h2>
 </pre>
</body>
</html>