<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<body>
  <% include ./partials/_header %>
  <pre>
    <p>Short URL: <a href = "/u/<%= shortURL %>">../u/<%= shortURL %></a></p>
    <p>Long URL: <%= longURL %></p>
    <p>Created: <%= date %></p>
    <p>Clicks: <%= clicks %></p>
    <p>Unique visitors: <%= uniqueClicks %></p>
  </pre>
  <form method="post" action="/urls/<%= shortURL %>">
    <input id="new-url" type="text" name="url">
    <button>Update!</button>
  </form>

</body>
</html>