<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../styles.css" >
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include ./partials/_header %>
  <div>
  <% if (user === undefined) { %>
    <h2>You are not logged in. <a href="/login">Log in now to start shortening links!</a></h2>
  <% } else { %>
    <form method="get" action="/urls/new">
      <button id="createNewLink" type="submit">Create A New Link!</button>
    </form>
  </div>
      <% for (var header in urls) { %>
      <% let action = "/urls/" + header + "/delete" %>
      <div>
          <p>
            <%= urls[header].longURL %> -----> <a class="blue" href="/u/<%= header %>"><%= `../u/${urls[header].shortURL}` %></a>
            <br>
            Created <%= urls[header].date %>
            <br>
            Clicks: <%= urls[header].clicks %>
            <br>
            Unique Visitors: <%= urls[header].uniqueClicks.length %>
            <form method="post" action="/urls/<%= header %>/delete">
              <button>Delete</button>
            </form>
            <a href="/urls/<%= header %>"><button>Edit</button></a>
          </p>
        </div>
    <% } %>
  <% } %>
</body>
</html>