<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link rel="stylesheet" href="../styles.css" >
</head>
<body>
  <% include ./partials/_header %>
  <div>
  <% if (user === undefined) { %>
    <h2>You are not logged in. <a href="/login" class="blue">Log in now to start shortening links!</a></h2>
  <% } else { %>
    <form method="get" action="/urls/new">
      <button id="createNewLink" type="submit">Create A New Link!</button>
    </form>
  </div>
    <% for (var header in urls) { %>
      <% let action = "/urls/" + header + "/delete" %>
      <table id="urlListBox">
        <tr id= "urlHeader">
          <td><%= urls[header].longURL %> -----></td>
          <td><a class="blue" href="/u/<%= header %>"><%= `../u/${urls[header].shortURL}` %></a></td>
        </tr>
        <tr>
          <td id="container">
           <form method="get" action="/urls/<%= header %>" style="display: inline-block; margin-right: 15px">
             <button id="editButton">Edit</button>
            </form>
            <form method="post" action="/urls/<%= header %>/delete" style="display: inline-block;">
              <button id="deleteButton">Delete</button>
            </form>
          </td>
        </tr>
        <tr>
            <td>Created:</td>
            <td><%= urls[header].date %></td>
        </tr>
            <td>Clicks: </td>
            <td><%= urls[header].clicks %></td>
        <tr>
            <td>Unique Visitors: </td>
            <td><%= urls[header].uniqueClicks.length %></td>
        </tr>
      </table>
    <% } %>
  <% } %>
</body>
</html>