<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<body>
  <% include ./partials/_header %>
  <pre><ul>
    <% for (var header in urls) { %>
      <% let action = "/urls/" + header + "/delete" %>
      <li><p>
        <%= header + "  ----->  "%><a href="<%= urls[header] %>"><%= urls[header] %></a>
        <a href="/urls/<%= header %>">Edit</a>
        <form method="post" action="/urls/<%= header %>/delete">
          <button>Delete!</button>
        </form>
      </p></li>
    <% } %>
  </ul></pre>
</body>
</html>